<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>   
    <section name="calculatorSchedulerConfiguration"
             type="GTS.Clock.Infrastructure.CalculatorSchedulerFramework.Configuration.CalculatorSchedulerSettings, GTS.Clock.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <connectionStrings>
    <add name="log4netConnectionStr"
      connectionString="Data Source=.\MSSQLSERVER2012;Initial Catalog=LogDB;User Id=atlasmaintain;password=123@tlas" />
  </connectionStrings>

  <calculatorSchedulerConfiguration serviceableSchedulers="Timely" Interval="1800000" BatchFlush="False"
                                    GTSWebServiceAddress="http://localhost:81/TotalWebService.svc">
    <calculatorSchedulers>
      <calculatorScheduler schedulerName="Timely" schedulerFullTypeName="GTS.Clock.Model.Timely, GTS.Clock.Model, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <calculatorScheduler schedulerName="Busy" schedulerFullTypeName="" />
    </calculatorSchedulers>
  </calculatorSchedulerConfiguration>

  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
    <add key="Log4NetConfig" value="D:\_Atlas\ELE\net4log.Config" />
		 <!--="E:\Ghadir_Win_Prg\GTS Team\Ghadir Projects\Atlas TA Project\GTS.Clock\GTS.Clock.AppService.Host\net4log.Config" -->
  </appSettings>

  <system.diagnostics>
    <trace autoflush="true" >
      <!--<listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="log4netdiagnostic.txt" />
      </listeners>-->
    </trace>
  </system.diagnostics>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITotalWebService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:81/TotalWebService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITotalWebService"
        contract="ServiceReference.ITotalWebService" name="BasicHttpBinding_ITotalWebService" />
    </client>
  </system.serviceModel>
</configuration>