

BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TA_Flow ADD
	Flow_Deleted bit NOT NULL CONSTRAINT DF_TA_Flow_Flow_Deleted DEFAULT 0
GO
ALTER TABLE dbo.TA_Flow SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
