USE [GhadirGTS]
GO
/****** Object:  Table [dbo].[TA_SecurityResource]    Script Date: 7/16/2014 3:33:26 PM ******/
DROP TABLE [dbo].[TA_SecurityResource]
GO
/****** Object:  Table [dbo].[TA_SecurityResource]    Script Date: 7/16/2014 3:33:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TA_SecurityResource](
	[resource_ID] [numeric](18, 0) NOT NULL,
	[resource_ResourceID] [varchar](100) NULL,
	[resource_ParentID] [numeric](18, 0) NULL,
	[resource_PageID] [varchar](100) NULL,
	[resource_Description] [nvarchar](500) NULL,
	[resource_ParentPath] [nvarchar](500) NULL,
	[resource_CheckKey] [nvarchar](max) NULL,
	[resource_MethodPath] [nvarchar](max) NULL,
	[resource_MethodFullName] [nvarchar](max) NULL,
	[resource_SubSystemID] [int] NOT NULL,
 CONSTRAINT [PK_TA_SecurityResource] PRIMARY KEY CLUSTERED 
(
	[resource_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TA_SecurityResource] ([resource_ID], [resource_ResourceID], [resource_ParentID], [resource_PageID], [resource_Description], [resource_ParentPath], [resource_CheckKey], [resource_MethodPath], [resource_MethodFullName], [resource_SubSystemID]) VALUES (CAST(36 AS Numeric(18, 0)), N'', NULL, N'', N'فرمها', N'', NULL, N'', NULL, 1)
INSERT [dbo].[TA_SecurityResource] ([resource_ID], [resource_ResourceID], [resource_ParentID], [resource_PageID], [resource_Description], [resource_ParentPath], [resource_CheckKey], [resource_MethodPath], [resource_MethodFullName], [resource_SubSystemID]) VALUES (CAST(37 AS Numeric(18, 0)), N'nvbItemBasicDefinitions_NavBarMain', CAST(36 AS Numeric(18, 0)), N'', N'تعاریف پایه', N',36,', NULL, N'', NULL, 1)
INSERT [dbo].[TA_SecurityResource] ([resource_ID], [resource_ResourceID], [resource_ParentID], [resource_PageID], [resource_Description], [resource_ParentPath], [resource_CheckKey], [resource_MethodPath], [resource_MethodFullName], [resource_SubSystemID]) VALUES (CAST(38 AS Numeric(18, 0)), N'nvbItemDepartmentsIntroduction_NavBarMain', CAST(37 AS Numeric(18, 0)), N'Departments.aspx', N'معرفی بخش ها', N',37,36,', NULL, N'GTS.Clock.Business.Charts.BDepartment', N'Void CheckDepartmentsLoadAccess()', 1)
GO
