--FLOW GROUP------------------------------------------------------------------------------------------------

/****** Object:  Table [dbo].[TA_FlowGroup]    Script Date: 3/4/2014 1:55:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

if not exists(select * from sys.columns 
            where Name = N'flow_GroupID' and Object_ID = Object_ID(N'TA_Flow')) 
            alter table [dbo].[TA_Flow]
            ADD flow_GroupID numeric(18, 0)  

IF not EXISTS (SELECT 1 
           FROM INFORMATION_SCHEMA.TABLES 
           WHERE TABLE_TYPE='BASE TABLE' 
           AND TABLE_NAME='TA_FlowGroup') 
		   begin
CREATE TABLE [dbo].[TA_FlowGroup](
	[FlowGroup_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[FlowGroup_Name] [nvarchar](200) NOT NULL,
	[FlowGroup_Description] [nvarchar](1000) NULL,
 CONSTRAINT [PK_TA_FlowGroup] PRIMARY KEY CLUSTERED 
(
	[FlowGroup_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

end

GO

delete from [TA_FlowGroup] where FlowGroup_Name='جریان اصلی'
insert into [TA_FlowGroup] ([FlowGroup_Name]) values ('جریان اصلی')
update TA_Flow set flow_GroupID=(select FlowGroup_ID from TA_FlowGroup where FlowGroup_Name='جریان اصلی')


--DESIGNED REPORT------------------------------------------------------------------------------------

/****** Object:  Table [dbo].[TA_DesignedReportColumn]    Script Date: 03/08/2014 12:27:59 ب.ظ ******/

GO

/****** Object:  Table [dbo].[TA_DesignedReportColumn]    Script Date: 3/11/2014 8:33:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TA_DesignedReportColumn]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TA_DesignedReportColumn](
	[DesignedReportColumns_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DesignedReportColumns_ConceptTmpID] [numeric](18, 0) NOT NULL,
	[DesignedReportColumns_Title] [nvarchar](200) NOT NULL,
	[DesignedReportColumns_ReportID] [numeric](18, 0) NOT NULL,
	[DesignedReportColumns_IsActive] [bit] NOT NULL,
	[DesignedReportColumns_Order] [smallint] NULL,
 CONSTRAINT [PK_DesignedReportColumns] PRIMARY KEY CLUSTERED 
(
	[DesignedReportColumns_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TA_DesignedReportCondition]    Script Date: 3/11/2014 8:33:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TA_DesignedReportCondition]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TA_DesignedReportCondition](
	[DesignedReportCondition_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DesignedReportCondition_ReportID] [numeric](18, 0) NOT NULL,
	[DesignedReportCondition_ConditionText] [nvarchar](max) NOT NULL,
	[DesignedReportCondition_ConditionValue] [nvarchar](max) NOT NULL,
	[DesignedReportCondition_PersonID] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_DesignedReportCondition] PRIMARY KEY CLUSTERED 
(
	[DesignedReportCondition_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TA_DesignedReportType]    Script Date: 3/11/2014 8:33:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TA_DesignedReportType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TA_DesignedReportType](
	[DesignedReportType_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DesignedReportType_Name] [nvarchar](100) NOT NULL,
	[DesignedReportType_CustomCode] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TA_DesignedReportType] PRIMARY KEY CLUSTERED 
(
	[DesignedReportType_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TA_DesignedReportColumn_TA_ConceptTemplate]') AND parent_object_id = OBJECT_ID(N'[dbo].[TA_DesignedReportColumn]'))
ALTER TABLE [dbo].[TA_DesignedReportColumn]  WITH CHECK ADD  CONSTRAINT [FK_TA_DesignedReportColumn_TA_ConceptTemplate] FOREIGN KEY([DesignedReportColumns_ConceptTmpID])
REFERENCES [dbo].[TA_ConceptTemplate] ([ConceptTmp_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TA_DesignedReportColumn_TA_ConceptTemplate]') AND parent_object_id = OBJECT_ID(N'[dbo].[TA_DesignedReportColumn]'))
ALTER TABLE [dbo].[TA_DesignedReportColumn] CHECK CONSTRAINT [FK_TA_DesignedReportColumn_TA_ConceptTemplate]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TA_DesignedReportColumn_TA_Report]') AND parent_object_id = OBJECT_ID(N'[dbo].[TA_DesignedReportColumn]'))
ALTER TABLE [dbo].[TA_DesignedReportColumn]  WITH CHECK ADD  CONSTRAINT [FK_TA_DesignedReportColumn_TA_Report] FOREIGN KEY([DesignedReportColumns_ReportID])
REFERENCES [dbo].[TA_Report] ([Report_ID])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TA_DesignedReportColumn_TA_Report]') AND parent_object_id = OBJECT_ID(N'[dbo].[TA_DesignedReportColumn]'))
ALTER TABLE [dbo].[TA_DesignedReportColumn] CHECK CONSTRAINT [FK_TA_DesignedReportColumn_TA_Report]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TA_DesignedReportCondition_TA_Person]') AND parent_object_id = OBJECT_ID(N'[dbo].[TA_DesignedReportCondition]'))
ALTER TABLE [dbo].[TA_DesignedReportCondition]  WITH CHECK ADD  CONSTRAINT [FK_TA_DesignedReportCondition_TA_Person] FOREIGN KEY([DesignedReportCondition_PersonID])
REFERENCES [dbo].[TA_Person] ([Prs_ID])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TA_DesignedReportCondition_TA_Person]') AND parent_object_id = OBJECT_ID(N'[dbo].[TA_DesignedReportCondition]'))
ALTER TABLE [dbo].[TA_DesignedReportCondition] CHECK CONSTRAINT [FK_TA_DesignedReportCondition_TA_Person]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TA_DesignedReportCondition_TA_Report]') AND parent_object_id = OBJECT_ID(N'[dbo].[TA_DesignedReportCondition]'))
ALTER TABLE [dbo].[TA_DesignedReportCondition]  WITH CHECK ADD  CONSTRAINT [FK_TA_DesignedReportCondition_TA_Report] FOREIGN KEY([DesignedReportCondition_ReportID])
REFERENCES [dbo].[TA_Report] ([Report_ID])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TA_DesignedReportCondition_TA_Report]') AND parent_object_id = OBJECT_ID(N'[dbo].[TA_DesignedReportCondition]'))
ALTER TABLE [dbo].[TA_DesignedReportCondition] CHECK CONSTRAINT [FK_TA_DesignedReportCondition_TA_Report]
GO


SET IDENTITY_INSERT [dbo].[TA_DesignedReportType] ON 

GO

delete from [TA_DesignedReportType]

INSERT [dbo].[TA_DesignedReportType] ([DesignedReportType_ID], [DesignedReportType_Name], [DesignedReportType_CustomCode]) VALUES (CAST(1 AS Numeric(18, 0)), N'خلاصه ماهانه', N'Monthly')
GO
INSERT [dbo].[TA_DesignedReportType] ([DesignedReportType_ID], [DesignedReportType_Name], [DesignedReportType_CustomCode]) VALUES (CAST(2 AS Numeric(18, 0)), N'مشروح', N'Daily')
GO
SET IDENTITY_INSERT [dbo].[TA_DesignedReportType] OFF
GO


--UPDATE REPORT-------------------------------------------------------------------------------------

update TA_ConceptTemplate
set ConceptTmp_ShowInReport=1
where ConceptTmp_KeyColumnName is not null and ConceptTmp_IdentifierCode in (4514,4515,5014,4502,4002,4009,15,3028,4008,4503,4506,3003,3004,3029,3030,3028,3020,2004,2023,1010,1003,1005,1096,2005,2031,4005,4006,1011,1006
                                        ,3025,3026,3034,3005,2006,2007,1016,1017,4010,26,4504,4505) 


update TA_ConceptTemplate
set ConceptTmp_IsHourly=1
where ConceptTmp_IdentifierCode in (4514,4515,4502,4002,4009,15,3028,4008,4513,4506,3029,3030,3028,3020,1003,4005,4006,1011,3025,3026,3034,2007,1016,4010,26,4504,4505)


update TA_ConceptTemplate
set ConceptTmp_IsHourly=0
where ConceptTmp_IdentifierCode in (5014,3003,3004,1010,1005,1096,2005,2031,1006,3005,2006,1017,5502)


--GRADE--------------------------------------------------------------------------------------

/****** Object:  Table [dbo].[TA_Grade]    Script Date: 3/9/2014 12:49:42 PM ******/

/****** Object:  Table [dbo].[TA_Grade]    Script Date: 3/11/2014 8:35:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TA_Grade]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TA_Grade](
	[Grade_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Grade_Name] [nvarchar](200) NOT NULL,
	[Grade_Description] [nvarchar](1000) NULL,
 CONSTRAINT [PK_TA_Grade] PRIMARY KEY CLUSTERED 
(
	[Grade_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

alter table TA_Person
add  prs_GradeId numeric
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TA_Grade_TA_Grade]') AND parent_object_id = OBJECT_ID(N'[dbo].[TA_Grade]'))
ALTER TABLE [dbo].[TA_Grade]  WITH CHECK ADD  CONSTRAINT [FK_TA_Grade_TA_Grade] FOREIGN KEY([Grade_ID])
REFERENCES [dbo].[TA_Grade] ([Grade_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TA_Grade_TA_Grade]') AND parent_object_id = OBJECT_ID(N'[dbo].[TA_Grade]'))
ALTER TABLE [dbo].[TA_Grade] CHECK CONSTRAINT [FK_TA_Grade_TA_Grade]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TA_Grade_TA_Grade1]') AND parent_object_id = OBJECT_ID(N'[dbo].[TA_Grade]'))
ALTER TABLE [dbo].[TA_Grade]  WITH CHECK ADD  CONSTRAINT [FK_TA_Grade_TA_Grade1] FOREIGN KEY([Grade_ID])
REFERENCES [dbo].[TA_Grade] ([Grade_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TA_Grade_TA_Grade1]') AND parent_object_id = OBJECT_ID(N'[dbo].[TA_Grade]'))
ALTER TABLE [dbo].[TA_Grade] CHECK CONSTRAINT [FK_TA_Grade_TA_Grade1]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TA_Person_TA_Grade]') AND parent_object_id = OBJECT_ID(N'[dbo].[TA_Person]'))
ALTER TABLE [dbo].[TA_Person]  WITH CHECK ADD  CONSTRAINT [FK_TA_Person_TA_Grade] FOREIGN KEY([prs_GradeId])
REFERENCES [dbo].[TA_Grade] ([Grade_ID])
GO

if(not exists(select * from [TA_Grade]))
begin

insert into TA_Grade (Grade_Name,Grade_Description)
values('مدیر','')
insert into TA_Grade (Grade_Name,Grade_Description)
values('رئیس','')
insert into TA_Grade (Grade_Name,Grade_Description)
values('کارمند','')
end



-------------- resources



-- BEFORE

BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TA_SecurityAuthorize
	DROP CONSTRAINT FK_TA_SecurityAuthorize_TA_SecurityResource
GO
ALTER TABLE dbo.TA_SecurityResource SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TA_SecurityAuthorize SET (LOCK_ESCALATION = TABLE)
GO
COMMIT


--------  


GO
/****** Object:  Table [dbo].[TA_SecurityResource]    Script Date: 3/4/2014 4:29:55 PM ******/
DROP TABLE [dbo].[TA_SecurityResource]
GO
/****** Object:  Table [dbo].[TA_SecurityResource]    Script Date: 3/4/2014 4:29:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TA_SecurityResource](
	[resource_ID] [numeric](18, 0) NOT NULL,
	[resource_ResourceID] [varchar](100) NULL,
	[resource_ParentID] [numeric](18, 0) NULL,
	[resource_PageID] [varchar](100) NULL,
	[resource_Description] [nvarchar](500) NULL,
	[resource_ParentPath] [nvarchar](500) NULL,
	[resource_CheckKey] [nvarchar](max) NULL,
	[resource_MethodPath] [nvarchar](max) NULL,
	[resource_MethodFullName] [nvarchar](max) NULL,
	[resource_SubSystemID] [int] NOT NULL,
 CONSTRAINT [PK_TA_SecurityResource] PRIMARY KEY CLUSTERED 
(
	[resource_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TA_SecurityResource] ([resource_ID], [resource_ResourceID], [resource_ParentID], [resource_PageID], [resource_Description], [resource_ParentPath], [resource_CheckKey], [resource_MethodPath], [resource_MethodFullName], [resource_SubSystemID]) VALUES (CAST(36 AS Numeric(18, 0)), N'', NULL, N'', N'فرمها', N'', NULL, N'', NULL, 1)
INSERT [dbo].[TA_SecurityResource] ([resource_ID], [resource_ResourceID], [resource_ParentID], [resource_PageID], [resource_Description], [resource_ParentPath], [resource_CheckKey], [resource_MethodPath], [resource_MethodFullName], [resource_SubSystemID]) VALUES (CAST(37 AS Numeric(18, 0)), N'nvbItemBasicDefinitions_NavBarMain', CAST(36 AS Numeric(18, 0)), N'', N'تعاريف پايه', N',36,', NULL, N'', NULL, 1)
INSERT [dbo].[TA_SecurityResource] ([resource_ID], [resource_ResourceID], [resource_ParentID], [resource_PageID], [resource_Description], [resource_ParentPath], [resource_CheckKey], [resource_MethodPath], [resource_MethodFullName], [resource_SubSystemID]) VALUES (CAST(38 AS Numeric(18, 0)), N'nvbItemDepartmentsIntroduction_NavBarMain', CAST(37 AS Numeric(18, 0)), N'Departments.aspx', N'معرفي بخش ها', N',37,36,', NULL, N'GTS.Clock.Business.Charts.BDepartment', N'Void CheckDepartmentsLoadAccess()', 1)
GO




-- AFTER
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TA_SecurityResource SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TA_SecurityAuthorize ADD CONSTRAINT
	FK_TA_SecurityAuthorize_TA_SecurityResource FOREIGN KEY
	(
	Athorize_ResourceID
	) REFERENCES dbo.TA_SecurityResource
	(
	resource_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.TA_SecurityAuthorize SET (LOCK_ESCALATION = TABLE)
GO
COMMIT


update ta