
select * from TA_SecurityAuthorize  where Athorize_ResourceID not in  (select resource_ID from TA_SecurityResource )

-- BEFORE

BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TA_SecurityAuthorize
	DROP CONSTRAINT FK_TA_SecurityAuthorize_TA_SecurityResource
GO
ALTER TABLE dbo.TA_SecurityResource SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TA_SecurityAuthorize SET (LOCK_ESCALATION = TABLE)
GO
COMMIT

