
-- AFTER
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TA_SecurityResource SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TA_SecurityAuthorize ADD CONSTRAINT
	FK_TA_SecurityAuthorize_TA_SecurityResource FOREIGN KEY
	(
	Athorize_ResourceID
	) REFERENCES dbo.TA_SecurityResource
	(
	resource_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.TA_SecurityAuthorize SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
