<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FalatGTSEntities" connectionString="metadata=res://*/FalatGTS.csdl|res://*/FalatGTS.ssdl|res://*/FalatGTS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=payervand-pc;initial catalog=FalatGTS;user id=farhad;password=123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LogDBEntities" connectionString="metadata=res://*/LogDB.csdl|res://*/LogDB.ssdl|res://*/LogDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=payervand-pc;initial catalog=LogDB;user id=farhad;password=123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="FolderPath" value="E:\test\" />
    <add key="SheetName" value="mm" />
  </appSettings>
</configuration>