<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="FalatGTSEntities" connectionString="metadata=res://*/FalatGTS.csdl|res://*/FalatGTS.ssdl|res://*/FalatGTS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TRDSRV2\mssqlserver2012;initial catalog=Atlas;user id=sa;password=123@tlas;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="LogDBEntities" connectionString="metadata=res://*/LogDB.csdl|res://*/LogDB.ssdl|res://*/LogDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TRDSRV2\mssqlserver2012;initial catalog=GTSLogDB;user id=sa;password=123@tlas;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <clear/>
    <add key="FolderPath" value="D:\Import Data\New\"/>
    <add key="LogFile" value="LogFile.txt"/>
    <add key="MinutesTimeOut" value="1440"/>
    <add key="ImportedPath" value="D:\Imported Data\New\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
